@import "./utils/variable.scss";

.content-wrapper {
  grid-column: 1 / span 12;
  display: grid;
  grid-template-columns: 30% auto 67%;
  grid-template-rows: auto;
  grid-template-areas: "photo . text";
  margin-top: 2rem;

  @media screen and (orientation: portrait) {
    text-align: center;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "text"
      "photo";
  }
}

.root {
  position: relative;
  background-color: $glaucus;
  padding-top: 4rem;
  padding-bottom: calc(150px + 2rem);
  color: $mint-green;
  margin-bottom: 0.625rem;
}

.divider-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);

  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
  }
  .shape-fill {
    fill: $white;
  }
}

.img-wrapper {
  grid-area: photo;
}

.text-block {
  grid-area: text;
  align-self: center;
  color: inherit;
  text-align: start;
  @media screen and (orientation: portrait) {
    text-align: center;
  }
}
