@import "./utils/variable.scss";

.root {
  display: grid;
  grid-template-columns: repeat(12, 70px);
  grid-template-rows: auto;
  column-gap: 30px;
  justify-content: center;
  background-color: $white;
}
