@import "./utils/variable.scss";

.root {
  display: grid;
  grid-template-columns: repeat(12, 70px);
  grid-template-rows: auto;
  column-gap: 30px;
  justify-content: center;

  @media screen and (max-width: 1170px) {
    grid-template-columns: repeat(12, 5vw);
    column-gap: 1em;
  }

  @media screen and (max-width: 700px) {
    grid-template-columns: repeat(12, 4vw);
    column-gap: 0;
  }
}
