@import "./utils/variable.scss";

.root {
  display: grid;
  grid-template-columns: repeat(12, 70px);
  grid-template-rows: auto;
  column-gap: 30px;
  justify-content: center;

  @media screen and (max-width: 1220px) {
    grid-template-columns: repeat(12, 5vw);
    column-gap: 1rem;
  }
  @media screen and (max-width: 730px) {
    column-gap: 0.5rem;
  }
}
