//import
@import "./utils/variable.scss";

//end import

.root {
  grid-column: 1 / span 5;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.block {
  display: flex;
  flex-direction: column;
}

.text {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  color: $coffee;
  margin-bottom: 2rem;
  em {
    color: $royal-blue;
    font-style: normal;
  }
}

.name-text {
  text-decoration: none;
  color: $royal-blue;
  padding-left: 0.5rem;
}
